<footer class="bg-[#f0f3f2]">
  <div class="container mx-auto px-8 py-10">
    <h3 class="text-2xl">Get the FreshCart app</h3>
    <p class="text-sm text-gray-400">We will send you a link, open it on your phone to download the app.</p>
    <div class="contact flex justify-evenly gap-4 my-5 flex-wrap ">
      <input class="flex-1 p-3 rounded" type="email" placeholder="Email" />
      <button class="bg-[#08ac0a] rounded text-white p-3 px-4">Share App Link</button>
    </div>
    <hr />
    <div class="flex justify-between items-center flex-wrap my-5 gap-5">
      <div class="payments flex gap-3 items-center flex-wrap">
        <h6>Payment Partners</h6>
        <div class="images flex flex-wrap gap-2">

          <img src="assets/images/card-mastercard.svg" alt="">
          <img src="assets/images/card-cash.svg" alt="">
          <img src="assets/images/card-visa.svg" alt="">
          <img src="assets/images/card-amex.svg" alt="">
        </div>
      </div>
      <div class="apps flex gap-3 items-center flex-wrap">
        <h6>Get deliveries with FreshCart</h6>
        <div class="images flex flex-wrap gap-2">

          <img src="assets/images/app-store.svg" alt="">
          <img src="assets/images/google-play.svg" alt="">
        </div>
      </div>
    </div>
    <hr />

  </div>
</footer>
